:root {
  /*Custom rows and columns properties, to synchronize with javascript code*/
  --rowNum: 16;
  --colNum: 16;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: grid;
  grid-template-rows: repeat(var(--rowNum), 1fr);
  grid-template-columns: repeat(var(--colNum), 1fr);
  height: 800px;
  width: 800px;
}

.grid-item {
  border: 1px solid black;/*div block properties*/
}

button {
  margin: 9px;
  border-style: solid;
  background-color: white;
  border-radius: 7px;
  border-width: 3px;
}